body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FF6347;
}

p {
    color: #333;
    font-size: 18px;
}

button {
    background-color: #FF6347;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF4500;
}

#fireworks, #balloons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.balloon {
    position: absolute;
    bottom: -100px;
    width: 50px;
    height: 70px;
    background-color: #ff69b4;
    border-radius: 50%;
    animation: floatBalloons 5s infinite;
}

@keyframes floatBalloons {
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
    }
}

/* Định dạng hình ảnh */
.image-container {
    text-align: center;
    margin-top: 20px;
}

#xukaImage {
    width: 150px;  /* Kích thước có thể thay đổi */
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
